{% extends "base.html" %}

{% block content %}

<h1>Preview your submission</h1>

<table>
    {% for field in form.visible_fields %}
    <tr>
        <th>{{ field.label }}:</th>
        <td>{{ field }}</td>
    </tr>
    {% endfor %}
</table>
<h2>Hash: {{ hash_value }}</h2>

<form action="" enctype="multipart/form-data" method="post">{% csrf_token %}
    {% if field.errors %}Incorrect preview form: {{ field.errors }}{% endif %}
    {% for field in form %}
        {{ field.as_hidden }}
    {% endfor %}
    <input type="hidden" name="{{ stage_field }}" value="2" />
    <input type="hidden" name="{{ hash_field }}" value="{{ hash_value }}" />
    <p><input type="submit" value="Submit" /></p>
</form>

<h1>Or submit it again</h1>

<form action="" enctype="multipart/form-data" method="post">{% csrf_token %}
    <table>
        {% for field in original_form %}
            {% if field.errors %}Incorrect original form: {{ field.errors }}{% endif %}
            {{ field.label }}: {{ field }}
        {% endfor %}
    </table>
    <input type="hidden" name="{{ stage_field }}" value="1" />
    <p><input type="submit" value="Preview" /></p>
</form>

{% endblock %}

